@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pri: #D42E12;
    --acc: #FFA502;
    --sec: #2F3542;
    --bg: #F1F2F6;
    --text: #1B1B15;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    background-color: var(--bg)
}

.navbar {
    background-color: var(--pri);
    height: 9vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
}

.nav-container {
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2vw;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--acc);
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 0.5vh;
}

.hamburger span {
    display: block;
    width: 2vw;
    height: 0.35vh;
    background-color: white;
    transition: 0.3s;
}

.navbar-logo-text {
    font-family: "Raleway";
    font-weight: 700;
    height: 75%;
    color: white;
}

/* RESPONSIVE NAVBAR */
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        position: fixed;
        right: -100%; /* hidden by default */
        top: 80px;
        flex-direction: column;
        background-color: var(--sec);
        width: 70%;
        height: 100vh;
        text-align: center;
        transition: 0.5s;
        box-shadow: -5px 0 10px rgba(0,0,0,0.1);
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        margin: 25px 0;
    }
}
